<!-- homepage -->
<div class="container">


  <div class="card mx-auto">
    <div class="card-body">
      <h1 class="card-title">User profile</h1>
      <hr>

    @if(!isEditMode){
      <ng-container>

          <p><b>Username:</b> {{ profileDetails.username }}</p>
          <p><b>Email:</b> {{ profileDetails.email }}</p>
          <p><b>Phone:</b> {{ profileDetails.tel }}</p>

        <button class="btn btn-primary" (click)="toggleEditMode()">Edit</button>
      </ng-container>
      } @else {

        <form [formGroup]="form" (ngSubmit)="handleSaveProfile()">
       
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input 
              type="text" 
              class="form-control" 
              id="username" 
              aria-describedby="username"
              name="username" 
              formControlName="username" 
            >
 
            @if(form.get('username')?.touched){
              <div class="invalid-feedback">
                @if(form.get('username')?.errors?.['required']){
                <p class="form-text error">Username is required!</p>
                }
                <!--  -->
                @if(form.get('username')?.errors?.['minlength']){
                <p class="form-text error">Username must be at least 5 characters!</p>
                }
              </div>
              }
          </div>
  
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input 
              type="email" 
              class="form-control" 
              id="exampleInputEmail1" 
              aria-describedby="emailHelp"
              name="email" 
              id="email" 
              formControlName="email"
            >

            @if(form.get('email')?.touched){
              <div class="form-text">
                @if(form.get('email')?.errors?.['required']){
                <p class="error">Email is required!</p>
                }
                <!--  -->
                @if(form.get('email')?.errors?.['emailValidator']){
                <p class="error">Email is not valid!</p>
                }
              </div>
              }
          </div>
  
          <div class="mb-3">
            <label for="tel" class="form-label">Phone number</label>
            <input 
              type="text" 
              class="form-control" 
              id="tel" 
              aria-describedby="tel"
              name="tel" 
              formControlName="tel"
            >
          </div>

          <button 
          type="submit"
          class="btn btn-primary me-2"
          [disabled]="form.invalid" 
          (click)="onCancel($event)"
        >
        Cancel
        </button>

          <button 
            type="submit"
            class="btn btn-primary"
            [disabled]="form.invalid" 
          >
            Save
          </button>
  
        </form>
      }
    </div>
  </div>
</div>