<main>

  <div class="album py-1 bg-light">
    <div class="container">

      @if (isLoading) {
      <app-loader />
      } @else {

      <div class="row row-cols-1 pb-3"> 
        <div class="col"><h1>Recipes</h1></div>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        @for (recipe of recipes; track $index) {
        <div class="col">
          <div class="card shadow-sm">
            <a [routerLink]="recipe._id">
            @if (recipe.imgUrl) {
              <img src={{recipe.imgUrl}} class="recipe-img">
            } @else {
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
              role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
            </svg>
            }</a>

            <div class="card-body">
              <h2 class="fs-5"><a [routerLink]="recipe._id" class="text-decoration-none text-reset">{{recipe.recipeName}}</a></h2>
              <hr/>
              <p class="card-text"><b>Products:</b> {{recipe.products}}.</p>
              <p class="card-text"><b>Likes:</b> <span> {{ recipe?.subscribers?.length || 0 }}</span></p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        }

      </div>
      }
    </div>
  </div>

</main>
