<main>

  <div class="album py-1 bg-light">
    <div class="container">

      @if (isLoading) {
      <app-loader />
      } @else {

      <div class="row row-cols-1 pb-3">
        <div class="col">
          <h1>{{recipe.recipeName}}</h1>
        </div>
      </div>

      <div class="card shadow-sm">
        <div class="card-body">
          <div class="row row-cols-1 row-cols-md-2">
            
            <div class="col mb-3 mb-md-0">
              @if (recipe.imgUrl) {
              <img class="recipe-img" src={{recipe.imgUrl}}>
              } @else {
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                  dy=".3em">Thumbnail</text>
              </svg>
              }
            </div>

            <div class="col">
              <p class="card-text"><b>Products:</b> {{recipe.products}}.</p>
              <p class="card-text"><b>How to prepare:</b> {{recipe.description}}.</p>
              <p class="card-text"><b>Publish date:</b> <time> {{recipe.created_at | date : "yyyy-mm-dd-hh:mm:ss"}}</time></p>
              <p class="card-text"><b>Publish by:</b> <span> {{ recipe.userId.username }}</span></p>
              <p class="card-text"><b>Subscribers:</b> <span> {{ recipe?.subscribers?.length || 0 }}</span></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>

          </div>
        </div>
      </div>
      }
    </div>
  </div>
</main>